.container {
  min-height: 100%;
  min-width: 100%;
  color: white;
}

.constainer img {
    height: 80%;
    border: 2.5px solid rgb(109, 40, 40);
    box-sizing: border-box;
    position: absolute;
}